/* CSS reset */
body, header, nav, main, footer, img, h1, h3, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(76, 190, 152);
}

/* Styles for header */
header {
  background-color: blueviolet;
  font-size: 1.5em;
  padding: 2%;
}

/* Style for nav */
nav {
  background-color: blueviolet;
}

.mobile-nav a {
  color: beige;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a:hover {
  color: bisque;
}

/* hide nav */
.tab-desk {
  display: none;
}

/* Styles for main */
  

/* Styles for images, figure and figcaption*/

figure {
  margin: 2% auto;
}

figcaption {
  font-size: 1em;
  text-wrap: normal;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 1em;
}

/* Styles for footer */

footer {
  text-align: center;
  background-color: blueviolet;
  padding: 1%;
}

@media screen and (min-width: 550px), print {
  .mobile-nav {
    display: none;
  }

  .tab-desk {
    display: block;
    float: left;
  }

  /*Tablet Viewport: Style rules for nav area */
  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    list-style: none;
    
  }

  nav a {
    text-decoration: none;
    color: beige;
  }

  nav a:hover {
    color: bisque;
  }

  /* Styles for main */
  section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

@media screen and (min-width: 769px), print {

}
