/* CSS reset */
body, header, nav, main, footer, img, h1, h3, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(76, 190, 152);
}

/* Styles for header */
header {
  background-color: blueviolet;
  font-size: 1.5em;
  padding: 2%;
}

/* Style for nav */
nav {
  background-color: blueviolet;
  text-align: center;
  padding: 2%;
}

nav a {
  text-decoration: none;
  color: beige;
  margin: 3%;
  font-size: 1.25em;
}

/* hide nav */
.tab-desk {
  display: none;
}

/* Styles for main */
  

/* Styles for images, figure and figcaption*/

figure {
  margin: 2% auto;
}

figcaption {
  font-size: 1em;
  text-wrap: normal;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 1em;
}

/* Styles for footer */

footer {
  text-align: center;
  background-color: blueviolet;
  padding: 1%;
}

@media screen and (min-width: 550px), print {
  .mobile-nav {
    display: none;
  }

  .tab-desk {
    display: block;
    float: left;
  }

  /*Tablet Viewport: Style rules for nav area */

  nav a:hover {
    color: bisque;
  }

  /* Styles for product nav */
  #product-nav ul {
    text-align: center;
  }

  #product-nav li {
    list-style: none;
    margin: 5%;
  }
  #product-nav {
    margin: 2%;
  }

  /* Styles for main */
  section {
    figure {
      display: inline-block;
    }
    
  }
}

@media screen and (min-width: 769px), print {

}
