
body {
  background-color: aquamarine;
}

/* Style for nav */
nav {
  float: left;
}

nav a {
  text-decoration: none;
}

/* Styles for main */





@media screen and (min-width: 550px), print {

}

@media screen and (min-width: 769px), print {

}
